# c
*.o

# http://www.gnu.org/software/autoconf

/config.sub
/config.guess
/MANIFEST
/autom4te.cache
/aclocal.m4
/compile
/configure
/configure~
/depcomp
/install-sh
/missing
Makefile
config.guess
config.h
config.log
config.status
config.sub
ltmain.sh
libtool
m4/

# yacc

y.*

# es

initial.c
sigmsgs.c
token.h
es
esdump

# dev env
/.vscode/
/.envrc

# crapple
.DS_Store
